In [2]:
import pandas as pd

In [20]:
data = pd.read_csv (r'C:\\Users\\Yeab\\Desktop\\MATH 327 Term Project\\2020_Problem_D_DATA\\passingevents.csv')
df = pd.DataFrame(data)
df.head()

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Head pass,34,97,59.0,95.0
1,1,Huskies,Huskies_M1,Huskies_F2,1H,51.022546,Simple pass,53,89,69.0,91.0
2,1,Opponent1,Opponent1_D2,Opponent1_G1,1H,89.008721,Simple pass,19,16,5.0,50.0
3,1,Opponent1,Opponent1_G1,Opponent1_F1,1H,92.216160,Launch,5,50,67.0,44.0
4,1,Huskies,Huskies_M2,Huskies_M3,1H,98.265191,Simple pass,42,55,36.0,54.0

In [18]:
count = 0
for i in range(len(df.MatchID)):
    count+=1
    if (df.MatchID[i] == 2):
        break;
count

567

In [24]:
game1 = df.iloc[0:566,]

In [25]:
newArr = []
arr = game1.OriginPlayerID.unique()
for i in range(len(arr)):
    if (arr[i].startswith("Huskies")):
        newArr.append(arr[i])  
len(newArr)

14

In [28]:
network = [[],[]]
for i in range(2):
    for j in range(14):
        network[i].append(0) 
        
network

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]